@charset "EUC-KR";

button.img-button{
	border: none;
	background: transparent;
	font-size: 1.2rem;
}
.fas{
	color: white;
}

.keyword{
	border: none;
	border-bottom: 1px solid white;
	outline: none;
	background: transparent;
	width: 150px;
	color: white;
	font-size: 1.1rem;
	
}

select {
	border:none;
	outline:none;
	width: 80px;
	font-size: 1.2rem;
	font-weight: 200;
	background: transparent;
	color: white;
}

